body { 
  background-color: #000;
  background-image: url('../the-fair.png');
  background-repeat: no-repeat;
  color: #ffffff;
}
h3 {
  color: #ffffff;
  font-family: 'helvetica neue', 'tahoma', sans-serif;
  font-weight: 100;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 1px;
}
#main {
  float: right;
}
